<h1><%= title %></h1>
<% if (messages.success && messages.success.length > 0) { %>
  <div class="alert alert-success">
    <% messages.success.forEach(msg => { %>
      <p><%= msg %></p>
    <% }) %>
  </div>
<% } %>


<% if (errors && errors.length > 0) { %>
  <ul class="notice">
    <% errors.forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>




<form action="/inv/add-inventory" method="POST" id="addInventoryForm">

  <label for="inv_make">Make</label>
  <input type="text" name="inv_make" id="inv_make" value="<%= inv_make || '' %>" required>

  <label for="inv_model">Model</label>
  <input type="text" name="inv_model" id="inv_model" value="<%= inv_model || '' %>" required>

  <label for="inv_year">Year</label>
  <input type="text" name="inv_year" id="inv_year" title="Enter a 4-digit year" value="<%= inv_year || '' %>" required>

  <label for="inv_description">Description</label>
  <textarea name="inv_description" id="inv_description" required><%= inv_description || '' %></textarea>

  <label for="inv_image">Image Path (or leave blank for default)</label>
  <input type="text" name="inv_image" id="inv_image" value="<%= inv_image || '' %>" placeholder="/images/vehicles/no-image.png">

  <label for="inv_thumbnail">Thumbnail Path (or leave blank for default)</label>
  <input type="text" name="inv_thumbnail" id="inv_thumbnail" value="<%= inv_thumbnail || '' %>" placeholder="/images/vehicles/no-image-tn.png">

  <label for="inv_price">Price</label>
  <input type="number" name="inv_price" id="inv_price" value="<%= inv_price || '' %>" required>

  <label for="inv_miles">Miles</label>
  <input type="number" name="inv_miles" id="inv_miles" value="<%= inv_miles || '' %>" required>

  <label for="inv_color">Color</label>
  <input type="text" name="inv_color" id="inv_color" value="<%= inv_color || '' %>" required>

<label for="classification_id">Classification <span class="required">*</span></label>
  <select id="classification_id" name="classification_id" required>
    <option value="">Choose a classification</option>
    <%- classificationList %>
  </select>


  <button type="submit">Add Inventory</button>
</form>
