
<h1><%= car.inv_make %> <%= car.inv_model %></h1>

<ul>
  <li>Price: $<%= car.inv_price %></li>
  <li>Description: <%= car.inv_description %></li>
  <li>Color: <%= car.inv_color %></li>
  <li>Miles: <%= car.inv_miles %></li>
</ul>

<img src="<%= car.inv_image %>" alt="Image of <%= car.inv_make %> <%= car.inv_model %>" />



   